body{
  background-color: #FBFFE4;
  font-family: monospace;
}
.principal-container {
  padding: 10px;
  color: #3D8D7A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal-container h1{
  font-family: 'Courier New', Courier, monospace;
}
.principal-container button {
  background-color: #3D8D7A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  align-self: center;
  margin-bottom: 20px;
}

